
.margens{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px
}

.margem-top{
  padding-top:10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left: 5px;
}

.cardBig {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cardBig:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

td .conteudo {
    height: 330px;
}

.aparecer{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    padding-left: 10px;
}

tr:hover {
  background-color: transparent;
}

.circlehora {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: blue;
  height: 52px;
  width: 52px;
  border-radius: 100%;
}

.alingvertical{
    position: absolute;
    margin-top: 16px;
    margin-left: 8px;
    color: white;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
