<div ng-controller='promocaoCtrl'>
  <form>
    <div class="form-group">
        <input type="hidden" class="form-control" ng-model="promo.id">
        <input type="hidden" class="form-control" ng-model="promo.id_estabelecimento">
        <input type="hidden" class="form-control" ng-model="promo.estabelecimento">
        <div class="btn-group pane-one-third">
          Título:
          <input type="text" class="form-control" maxlength="30" placeholder="Título da promoção" ng-model="promo.titulo">
        </div>
        <div class="btn-group pane-one-third">
          Duração:
          <input type="number" class="form-control" placeholder="Duração em dias (max 30)" ng-model="promo.duracao" ng-keyup="dias(promo.duracao)">
        </div>
        <div>
          Texto:
          <textarea class="form-control" maxlength="200" placeholder="Aqui vão as principais informações" ng-model="promo.texto"></textarea>
        </div>
        <div>
          Sub-Texto:
          <textarea class="form-control" maxlength="100" placeholder="Texto de rodapé, em negrito e menor tamanho" ng-model="promo.sub_texto"></textarea>
        </div>
        <div class="margem-top">
            <div flow-init flow-files-added="processFiles($files)" flow-files-submitted="$flow.upload()"
                test-chunks="false">
                <div class="drop" flow-drop ng-class="dropClass" style="width: 100%; height: 50px; background-color: #E0FFFF">
                    <img class="img-rounded media-object pull-left" src="{{filePath}}" width="42" height="42" flow-btn>
                    Clique no quadrado
                    <b>OU</b>
                    Arraste aqui! <span class='icon icon-check' style='color:green' ng-show="arquivoSalvo"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
      <button type="reset" class="btn btn-form btn-default" ng-click="reset()">Cancelar</button>
      <button type="submit" class="btn btn-form btn-primary" ng-click="salvar(promo)">Salvar</button>
    </div>
  </form>
</div>
